.t-tl-1 {
  font-family: 'Nunito Sans', 'sans-serif';
  font-size: 30px;
  /*letter-spacing: 2px;*/
  color: #000000;
  padding-bottom: 8px;
}

.t-tl-2 {
  font-family: 'Nunito Sans', 'sans-serif';
  font-size: 24px;
  /*letter-spacing: 2px;*/
  color: #000000;
}

.t-tl-3 {
  font-family: 'Nunito Sans', 'sans-serif';
  font-size: 18px;
  font-weight: bolder;
  /*letter-spacing: 2px;*/
  color: #000000;
}

.t-it-1 {
  font-family: 'Nunito Sans', 'sans-serif';
  font-size: 18px;
  /*letter-spacing: 2px;*/
  color: #000000;
}

.t-it-2 {
  font-family: 'Nunito Sans', 'sans-serif';
  font-size: 22px;
  /*letter-spacing: 2px;*/
  color: #000000;
}
